version: "3"
services:
  frontend:
    build:
      context: ./
    container_name: frontend
    command: ["serve", "-s", "build"]
    ports:
      - "3000:3000"
    networks:
      - webservice-network
networks:
  webservice-network:
    external:
      name: webservice-network
