@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

html,
body {
  height: 100vh;
  font-family: "Schibsted Grotesk", sans-serif;
}

.MuiPopover-paper {
  padding: 0 !important;
}
