name: Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set env
        run: echo "ENV=test" >> $GITHUB_ENV

      - name: Install pdm
        run: pip install pdm

      - name: Install project dependencies
        run: pdm install

      - name: Run tests
        run: PYTHONPATH=. pdm run pytest api/backend/tests
